.App {
  text-align: center;
}
body{
  background: linear-gradient(90deg, white, #808080)
}
.O_mnie{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 50px;
    font-size: 25px;
    background-color: black;
    border-radius: 10%;
    position: absolute;
    left: 12px;
    top: 10px;
}
.Zainteresowania{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 50px;
    font-size: 25px;
    background-color: black;
    border-radius: 10%;
    position: absolute;
    left: 210px;
    top: 10px;
}
.projekty{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 50px;
  font-size: 25px;
  background-color: black;
  border-radius: 10%;
  position: absolute;
  left: 507px;
  top: 10px;
}
.kontakt{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 50px;
  font-size: 25px;
  background-color: black;
  border-radius: 10%;
  position: absolute;
  left: 713px;
  top: 10px;
}
.blog{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 50px;
  font-size: 25px;
  background-color: black;
  border-radius: 10%;
  position: absolute;
  left: 915px;
  top: 10px;
  color: white;
}
.blog2{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 50px;
  font-size: 25px;
  background-color: black;
  border-radius: 10%;
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
a:hover{
  text-decoration: none;
  color: black;
}
a:link{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:active{
  text-decoration: none;
  color: black;
}
.zaint{
  width: 270px;
    margin: auto;
    font-size: 30px;
    font-family: Apple Chancery, cursive;
}
li:hover{
  font-weight: bolder;
}
.App-background {
  background: linear-gradient(90deg, white, #808080);
  display: flex;
  min-height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tresc{
  border-color: grey;
  border-style: solid;
  border-width: 5px;
  padding: 100px;
  font-size: 30px;
}
.tekst{
  font-family: Marker Felt, fantasy;
}
#Content{
  word-wrap: break-word;
  width: 200px;
}
.wiz{
  font-size: 100px;
  font-family: Trebuchet MS, sans-serif;
}
.wiz:hover{
  color: #2F4F4F;
}
.wst{
  text-align: center;
  font-size: 30px;
  margin-right: 300px;
  margin-left: 300px;
  font-family: Apple Chancery, cursive;
}
#diamond-shield {
  margin: auto;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 20px solid black;
  position: relative;
  top: -50px;
  animation-name: s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes s{
    0% {
      top: -50px;
    }
    50% {
      top: 30px;
    }
    100%{
      top: -50px;
    }
}
#diamond-shield:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 20px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 70px solid black;
}
.pro{
   width: 600px;
   margin: 150px auto;
   font-size: 30px;
   font-family: Apple Chancery, cursive;
}
.kont{
  width: 400px;
  margin: 150px auto;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
}
.AddPost{
  text-align: left;
  font-size: large;
  width: auto;
}

